.Select {
  width: 100%;

  & select {
    width: 100%;
    padding: 0.25em 0.5em;
    border: 3px solid var(--color-gray-700);
    transition: border-color 0.15s ease;
    outline: none;
    cursor: pointer;

    &:hover,
    &:focus {
      border-color: var(--color-primary);
    }

    & option {
      cursor: pointer;

      &:checked {
        background-color: var(--color-primary);
        color: var(--color-white);
      }

      &:hover {
        background-color: red;
      }
    }
  }
}
