.BookList {
  display: grid;
  padding: 5rem 0 5rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 499px) {
    grid-template-columns: 1fr;
  }
}
